p{
        font-size: 13px;
        font-family: Times;
        margin-top: 1px;
        margin-bottom: 6px;
}

.italic {
        font-style: italic;
}
.bold {
        font-weight: bold;
}
.date-range {
        text-align: right;
        font-style: italic;
}

h1{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
}

h2{
        font-size: 16px;
        text-align: left;
        margin: 3px;
}


h3{
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        margin: 1px;
}

